venv/
__pycache__/
*.pyc
db.sqlite3
.env
admin_eski.py
staticfiles/

# Telegram bot maxfiy sozlamasi
telegram.json
telegram_backup.log
db_server_upload.sqlite3
telegram_2fa.log
.kunlik_arxiv.txt
media/
